.nav_bar {
    border-bottom: 1px solid black;
}

.nav_bar a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color:#547074;
}

#title_name {
    font-size: 3rem;
    color: #547074;
    text-transform: uppercase;

}

.homepage_project_image {
    width: 300px;
    height:300px;
    padding: 10px;
    background-color: #342772;
}

img {opacity: 0.8}

img:hover {opacity: 1.0;}

.project_card_name  {
    text-align: center;
    width: 300px;
}

.project_card_about {
    text-align: center;
}

.project_page_description {
    margin-top: 1%;
}


